/* Nikolin pocetni css */

/* U sledecim komentarina su: */


/* font Dosis postavljen u asterixu sto znaci da ce svugde primeniti taj font */

* {
    font-family: "Dosis";
    scroll-behavior: smooth;
}

body {
    font-size: 1.1rem;
    line-height: 1.7;
    background: #f9f9f9;
}

/* naslovi su svi Roboto */

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto";
}

/* HEADER SECTION */

header {
    background: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* napravljena izmena od strane Nikole, stavio sam padding sva svih strana posto je bilo sve zalepljeno */
header img {
    padding: 20px;
}

/* Nikola, opacity na background naslov */
h1 {
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 1px;
    background: rgba(0,123,255, 0.9);
    padding: 3px;
    color:#fff;
    border-radius: 10px;
    margin-bottom: 5px;;
}
/* Nikola, opacity na background naslov */
.podnaslov {
    background: rgba(23,162,184,0.9);
    border-radius: 10px;
    color:#fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 3px;
    margin: 0 100px;
}

/* NAVIGATION SECTION */

nav li {
    font-size: 1.2rem;
}

/* MAIN */

.dobrodosli {
    font-style: italic;
    border-bottom: 1px solid #17a2b8;
    background: #17a2b8;
    color:#fff;
    font-size: 2rem;
}

/* FOOTER - Filip apdejtovao*/

footer {
    background:#007bff;
    color:#fff;
    padding: 10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top: 3px solid #282828;
    text-align: center;
    font-size: 2.4vh;
    margin-top: 2vh;
}
footer a{
  color: #282828;
  font-weight: bold;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
#korpaFooter {
  margin-top: 20vh;
}


/* OVDE JE KRAJ NIKOLINOG POCETNOG CSS-a, ISPOD SE PISE DETALJNIJE! */

/*dusan*/
a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}


/*naslov*/

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 8px 10px 8px;
    color: #615e5e;
}


/*forma*/

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* input polja*/

input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
    background-color: #0b83be;
    color: #dce8f1;
    font-weight: bolder;
}

input[type=submit]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 80%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
    color: #cccccc;
}


/* animacija - ako ne treba animacija samo treba da se zakomentarise ovaj deo */
/* --------------------------------------------- */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2;
    animation-delay: 0.2;
}

.fadeIn.second {
    -webkit-animation-delay: 0.4;
    -moz-animation-delay: 0.4;
    animation-delay: 0.4;
}

.fadeIn.third {
    -webkit-animation-delay: 0.6;
    -moz-animation-delay: 0.6;
    animation-delay: 0.6;
}

.fadeIn.fourth {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fifth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fadeIn.sixth {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
/* --------------------------------------------- */

/* kraj animacije */


/*za forgot password*/

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

*:focus {
    outline: none;
}


/*ikonica ako je ukljucena*/

#icon {
    width: 30%;
}
/*dusan*/
.pomoc{
    text-align: center;
    background-color: transparent;
    margin-top: 15px;
}
.pregled{
    width: 120px;
    padding-left: 15px;
    text-align: center;
}
#uplatnica{
    transition: transform .3s;
    width: 300px;
}
#uplatnica:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    width: 700px;
    padding-left: 150px;
}
#cards{
    width: 50px;
}
/*kontakt strana za image hover, Vele*/
/* NIKOLA JE NAPRAVIO IZMENU KAKO BI SREDIO HEADER, DODAT JE ID ISPRED SLIKA KOJE SU SAMO TREBALE BITI GADJANE NA KONTAKT STRANI, iako bi to trebalo da je klasa jer jedan isti ID se ne stavlja na vise stvari. */
#home img {
    height: 50px;
    width: 50px;
}

#home {
    cursor: pointer;
}
.image_off, #home:hover .image_on{
    display:none
 }
 .image_on, #home:hover .image_off{
    display:block
 }


 /* ---------------------------- */
/* Dragan */
/* Animirani buttoni */
.animbutton{
    border-radius: 4px;
    border:2px solid #007bff;
    color:black;
    position:relative;
    overflow: hidden;
    background:transparent;
    transition: .3s;
    white-space: nowrap;
    text-align: center;
}
.animbutton:before{
    content:'';
    width:100%;
    height: 100%;
    position:absolute;
    background:#007bff;
    opacity: .5;
    top:-100%;
    left:0;
    z-index: -1;
    transition: .3s;
}
.animbutton:after{
    content:'';
    width:100%;
    height: 100%;
    position:absolute;
    background:#007bff;
    top:-100%;
    left:0;
    z-index: -1;
    transition: .3s;
    transition-delay: .2s;
}
.animbutton:hover{
    color:#fff;
}
.animbutton:hover:before{
    top:0;
}
.animbutton:hover:after{
    top:0;
}
